.row-fluid
  .span6
    %img{src:image_path('wuzhen.png')}
  .span6
    %h3
      Weekend stay in an authentic east China village
    .lead
      %i.icon-map-marker
      17 kilometres (11 mi) north of the city of Shanghai
    %i.icon-flag
    .label.label-info
      Ancient stone bridges
    .label.label-info  
      Stone pathways
    .label.label-info
      Delicate wood carvings
    .label.label-info
      Rich cultural background.
%br
.row-fluid#intro
  .lead
    Wuzhen is divided into six districts. These are: the traditional workshops district, the traditional local-styled dwelling houses district, the traditional culture district, the traditional food and beverage district, the traditional shops and stores district, and the water township customs and life district. Following an east-west-east circuit created by these six districts, visitors can witness reenactment of traditional practices and cultures.
%br
.row-fluid
  .span4
    %img.img-polaroid{src: 'http://upload.wikimedia.org/wikipedia/commons/2/2f/Wuzhen_general_view.jpg'}
  .span4
    %img.img-polaroid{src: 'http://upload.wikimedia.org/wikipedia/commons/9/9e/Mao_Dun_Memorial.JPG'}
  .span4
    %img.img-polaroid{src: 'http://upload.wikimedia.org/wikipedia/commons/9/92/Wuzhen_street.jpg'}
%br
.row-fluid
  .lead
    The available guides for this trip
.row-fluid
  .span2
    %img.img-circle{src: 'https://d117qzib7sxib9.cloudfront.net/avatars/the-dragon-trip/resized/220/Fly%20Yu.png', width: '76'}
  .span8
    .lead
      Jiong Li
    %p
      Artist, Native Chinese, Living in Shanghai
    %p
      .label.label-info
        English
      .label.label-info  
        Spanish
      .label.label-warning
        < 1 hour
      .label.label-important
        Chinese history
  .span2
    .lead
      € 60
.row-fluid
  .span2
    %img.img-circle{src: 'https://d117qzib7sxib9.cloudfront.net/avatars/zenteaspace/resized/220/IMAG0629.jpg', width: '76'}
  .span8
    .lead
      Jenny T.
    %p
      I was born in Taiwan, raised in Australia, lived in UK, Argentina and have traveled extensively. Tea is my passion, calling, and my way to see the world.
    %p
      .label.label-info
        English
      .label.label-info  
        Spanish
      .label.label-warning
        < 1 hour
      .label.label-important
        Chinese history      
  .span2
    .lead
      € 90
        