.row-fluid
  .span6
    %img{src:image_path('wuzhen.png')}
  .span6
    %h3
      Weekend stay in an authentic east China village
    .lead
      %i.icon-map-marker
      17 kilometres (11 mi) north of the city of Shanghai
    %i.icon-flag
    .label.label-info
      Ancient stone bridges
    .label.label-info  
      Stone pathways
    .label.label-info
      Delicate wood carvings
    .label.label-info
      Rich cultural background.
%br
.row-fluid
  .span4
    %img.img-polaroid{src: 'http://upload.wikimedia.org/wikipedia/commons/2/2f/Wuzhen_general_view.jpg'}
  .span4
    %img.img-polaroid{src: 'http://upload.wikimedia.org/wikipedia/commons/9/9e/Mao_Dun_Memorial.JPG'}
  .span4
    %img.img-polaroid{src: 'http://upload.wikimedia.org/wikipedia/commons/9/92/Wuzhen_street.jpg'}