.container
  .row-fluid
    .span2
    .span8
      .navbar
        .navbar-inner
          %a.brand{href:'#'}
            Experience With Local
          %ul.nav
            %li.active
              %a.dropdown-toggle{:'data-toggle' => 'dropdown'}
                Find Attractions
                %b.caret
              %ul.dropdown-menu
                %li
                  %a#map_view_link{href:'#'}
                    %i.icon-map-marker
                    Map View
                %li
                  %a#list_view_link{href:'#'}
                    %i.icon-th-large
                    Featuring  
            %li
              %a{href:'#'}
                Find Guides
      .row-fluid#map_view
        =render 'map'
      .row-fluid#list_view
        =render 'attraction'
    .span2
    
:coffeescript
  $(document).ready ->
    $('#list_view').hide()
    
  $('#map_view_link').click ->
    $('#map_view').show()
    $('#list_view').hide()

  $('#list_view_link').click ->
    $('#map_view').hide()
    $('#list_view').show()